[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Krishnakumar (krishnakumar-bs)
[access "refs/for/refs/*"]
	read = group user/Krishnakumar (krishnakumar-bs)
	push = group user/Krishnakumar (krishnakumar-bs)
	label-Code-Review = -2..+2 group user/Krishnakumar (krishnakumar-bs)
	label-Verified = -1..+1 group user/Krishnakumar (krishnakumar-bs)
	rebase = group user/Krishnakumar (krishnakumar-bs)
	removeReviewer = group user/Krishnakumar (krishnakumar-bs)
	submit = group user/Krishnakumar (krishnakumar-bs)
[access "refs/heads/*"]
	read = group user/Krishnakumar (krishnakumar-bs)
	create = group user/Krishnakumar (krishnakumar-bs)
	push = +force group user/Krishnakumar (krishnakumar-bs)
	pushMerge = group user/Krishnakumar (krishnakumar-bs)
[access "refs/tags/*"]
	push = group user/Krishnakumar (krishnakumar-bs)
	push = +force group user/Krishnakumar (krishnakumar-bs)
[project]
	description = krishna kumar projects
